@import "tailwindcss";

.swiper-button-next,
.swiper-button-prev,
.quiz-nav-button {
  color: #8be8ed !important;
  transition: transform 0.1s ease-in-out;
}

.swiper-button-next:active,
.swiper-button-prev:active,
.quiz-nav-button:active {
  transform: scale(1.2);
}

.swiper-button-disabled {
  display: none !important;
}

.font-host {
  font-family: "Host Grotesk" , sans-serif;
}

.font-oddval {
  font-family: "Oddval" , sans-serif;
}


.about-carousel .swiper-button-next,
.about-carousel .swiper-button-prev {
  font-size: 0.3rem !important;
  width: 0.3rem !important;
  height: 0.3rem !important;
  margin: 0 2.0rem !important;
}
@media (min-width: 600px) {
  .about-carousel .swiper-button-next,
  .about-carousel .swiper-button-prev {
    font-size: 0.7rem !important;
    width: 0.9rem !important;
    height: 0.9rem !important;
    margin: 0 2.0rem !important;
  }
}

.about-carousel .swiper-button-next {
  right: 0 !important;
  transform: translateX(120%);
}
.about-carousel .swiper-button-prev {
  left: 0 !important;
  transform: translateX(-120%);
}